<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\DB\LoggerInterface" type="Matei\PdoLoggerDb\DB\Logger\LoggerProxy"/>

    <type name="Matei\PdoLoggerDb\DB\Logger\LoggerProxy">
        <arguments>
            <argument name="loggerAlias" xsi:type="init_parameter">Magento\Framework\Config\ConfigOptionsListConstants::CONFIG_PATH_DB_LOGGER_OUTPUT</argument>
            <argument name="logAllQueries" xsi:type="init_parameter">Magento\Framework\Config\ConfigOptionsListConstants::CONFIG_PATH_DB_LOGGER_LOG_EVERYTHING</argument>
            <argument name="logQueryTime" xsi:type="init_parameter">Magento\Framework\Config\ConfigOptionsListConstants::CONFIG_PATH_DB_LOGGER_QUERY_TIME_THRESHOLD</argument>
            <argument name="logCallStack" xsi:type="init_parameter">Magento\Framework\Config\ConfigOptionsListConstants::CONFIG_PATH_DB_LOGGER_INCLUDE_STACKTRACE</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="dev_db_querylog_enable" xsi:type="object">Matei\PdoLoggerDb\Console\Command\QueryLogEnableCommand</item>
                <item name="dev_db_querylog_disable" xsi:type="object">Matei\PdoLoggerDb\Console\Command\QueryLogDisableCommand</item>
                <item name="dev_db_querylog_newsession" xsi:type="object">Matei\PdoLoggerDb\Console\Command\QueryLogStartNewSession</item>
                <item name="dev_db_querylog_truncate" xsi:type="object">Matei\PdoLoggerDb\Console\Command\QueryLogTruncateCommand</item>
            </argument>
        </arguments>
    </type>
</config>
